.navbar.navbar-default
  .container-fluid
    .navbar-header
     button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
       span.icon-bar
       span.icon-bar
       span.icon-bar
     a.navbar-brand(href="/") RollingWithAdvantage
    div.collapse.navbar-collapse
     ul.nav.navbar-nav
       li
         a(href="/") Home
       li
         a(href="/about") About
       li
         a(href="/contact") Contact
     ul.nav.navbar-nav.navbar-right
       li
         a(href="/login") Sign-In
       li
         a(href="/sign-up") Sign-up





//- <nav class="navbar navbar-default">
//-   <div class="container-fluid">
//-     <div class="navbar-header">
//-       <a class="navbar-brand" href="#">
//-         <img alt="Brand" src="...">
//-       </a>
//-     </div>
//-   </div>
//- </nav>
