extends ../_layouts/default.pug

block content
  .container
    form.form-horizontal(action='/facilities', method='post')
      .form-group
        label.col-md-2.control-label Facility Name
        .col-md-3
          input.form-control(type='text', name='name')
      .form-group
        label.col-md-2.control-label Street Address
        .col-md-3
          input.form-control(type='text', name='street_address')
      .form-group
        label.col-md-2.control-label Zip
        .col-md-3
          input.form-control(type='text', name='zip')
      .form-group
        label.col-md-2.control-label Tell us about the campaign you want to host!
        .col-md-3
          textarea.form-control(name='campaign_description')
      .form-group
        label.col-md-2.control-label How much help do you need?
        .col-md-3
          select.form-control(name='help_needed')
            option(value='little') A Little Help
            option(value='alot') A Lot of Help
            option(value='booked') Booked
      .form-group
        label.col-md-2.control-label Tell us about your facility.
        .col-md-3
          textarea.form-control(name='description')
      .form-group
        .col-md-3.col-md-offset-2
          button.btn.btn-default(type='submit') Create facility
