extends ../_layouts/default.pug

block content
  section.container
    h3 About Us
    p Rolling With Advantage is dedicated to helping kids in the juvenile justice system build skills and have fun through pen and paper role playing games. Our goal is to give kids a second chance through games and equip them with the skills needed for successful re-entry into the community. The service is free, and experienced game masters volunteer their time and skills. 
    p Evidence shows games help players reduce stress and increase cognitive skills. Pen and paper role playing games are shown to be great behavioral therapy tools for many reasons. P&P RPGs are a creative outlet with an immediate reward and no special skills required to start. They are low-cost, low-risk, and they build a range of skills such as: 
    ul
      li improvisation
      li team-building
      li problem-solving 
      li storytel      ling
      li cooperation
      li social skills building
      li planning and strategy
      li arithmetic &  math 
      li leadership 
    p The name of our organization is inspired by the Dungeons & Dragons, 5th Edition rule where players with "advantage" can roll twice instead of the one roll they’re normally allowed and take the roll with the higher value. We exist to provide a second chance to youth in the juvenile justice system. 
    h3 FAQ
    h4 What’s a pen-and-paper role playing game? 
    p A pen-and-paper role playing game (RPG), also called a tabletop or table-talk RPG, is a type of game in which the participants describe their actions through speech and act according to a set of rules, with plenty of room to improvise. In most games, a designated game master (GM) creates the setting, manages the game, and enforces the rules. The outcome of the game can be influenced by the players’ actions, the framework of the game, and the executive decisions of the GM. There are many types of popular pen-and-paper RPGs, including Dungeons & Dragons, Starwars, Pathfinder, and Shadow Run. Many educators find RPGs to be a healthy way for learners to practice reading and arithmetic skills. 
    h4 What do you need to play a pen-and-paper RPG?
    p You need: 
    ul
      li players
      li a game master (GM)
      li pen and paper 
      li dice of different kinds, depending on the game, usually costing less than $1.00 
    p That’s it! No, really. It’s often useful to have the game’s rulebook, but RWA GMs will bring rule books with them as needed. 
    h4 What are the benefits of pen-and-paper RPGs? 
    p Mountains of evidence show games help players reduce stress and increase cognitive skills. Pen and paper role playing games are shown to be great behavioral therapy tools. P&P RPGs are a creative outlet with an immediate reward and no special skills required to start. They are low-cost, low-risk, and they build a range of skills, including: 
    ul
      li improvisation
      li team-building
      li problem-solving 
      li storytel      ling
      li cooperation
      li social skills building
      li planning and strategy
      li arithmetic  math 
      li leadership 
    h4 How does Rolling With Advantage work with juvenile justice facility administrators? 
    p RWA reaches out to juvenile justice facilities throughout the U.S. to implement fast-track pilot programs so youth can experience the benefits of games as quickly as possible. We work with any local nonprofits to deliver these services to transition age youth wherever they are. We work with game masters and facilities to onboard volunteers and complete any required background checks and training to work with transition age youth. 
    p Do you manage a facility and want to learn more? Reach out to get the conversation started.
      a(href="/contact") Contact Info
    h4 Who does RWA serve? 
    p Our project serves: 
    ul
      li Transition age youth in the juvenile justice system 
      li Administrators and decision makers in the juvenile justice system
      li Game masters looking for opportunities to volunteer their skills 
      li Pen-and-paper RPG enthusiasts looking for opportunities share games with people who need them most 
