extends ../_layouts/default.pug

block content
	div.banner
		h1 Rolling With Advantage
	section
		.container
			.row
				div.vertical-spacer
				h1 Contact
				p
					a(href='https://www.facebook.com/RollingWithAdvantage/') Facebook Page
				p
					a(href='https://twitter.com/InvisibleThrill') Project Manager's Twitter
