extends ../_layouts/default.pug

block content
	section
		.container
			.row
				div.vertical-spacer
				h1 Contact
				p
					a(href='https://www.facebook.com/RollingWithAdvantage/') Facebook Page
				p
					a(href='http://www.twitter.com/RollingWAdvantage') Project Twitter
