extends ../_layouts/default.pug

block content
	div.banner
		h1 Rolling With Advantage
	div.vertical-spacer
	section
		div.container
			div.row
				div.col-md-3.col-md-offset-2
					h1 Game Masters
					p Run pen and paper RPGS for at-risk youths.
					a.btn.btn-primary Signup
				div.col-md-3.col-md-offset-2
					h1 Facility Managers
					p Find game masters to run games at your facility.
					a.btn.btn-primary Signup
	div.vertical-spacer
	div.vertical-spacer
	section
		.container
			.row
				.col-sm-3.col-md-3
					.text-center
						i.fa.fa-pencil.fa-3x
						h3 Game Masters
						p Want to volunteer as a GM?	Find a program near you.
				.col-sm-3.col-md-3
					.text-center
						i.fa.fa-search.fa-3x
						h3 Find a Facility
						p Find facilities in need of Game Masters near you.
				.col-sm-3.col-md-3
					.text-center
						i.fa.fa-code.fa-3x
						h3 Do you play Pen and Paper RPGs?
						p Learn how to run a campaign.
				.col-sm-3.col-md-3
					.text-center
						i.fa.fa-building.fa-3x
						h3 Do you need volunteers?
						p Find a game master to run a game at your facility.
