extends ../_layouts/default.pug

block content
	div.vertical-spacer
	div.vertical-spacer
		section.text-center
			h1.coming-soon Coming Soon
			p Click  #[a(target="here" href="/about") here] to learn more.
			p #[a(target="here" href="/contact") Contact us]
	div.vertical-spacer
	div.vertical-spacer
