doctype html
html(lang="en")
  head
    title Rolling With Advantage
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', )
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', )
  body
    include ./includes/nav.pug
    .heading-intro
      .container
        .row
          .col-sm-3.col-md-3
            .text-center
              i.fa.fa-pencil.fa-3x
              h3 Find a Game Master
              p Looking to host a game? Find a Game Mster
          .col-sm-3.col-md-3
            .text-center
              i.fa.fa-search.fa-3x
              h3 Find a Facility
              p Search for a facility
          .col-sm-3.col-md-3
            .text-center
              i.fa.fa-code.fa-3x
              h3 Do you play D&D?
              p Do you play D&D? We want to hear from you.
          .col-sm-3.col-md-3
            .text-center
              i.fa.fa-building.fa-3x
              h3 Do you want to host a game?
              p Do you have access to a location and willing players? Let's play some tabletops the old fashion way

