doctype html
html(lang="en")
  head
    title Rolling With Advantage
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', )
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href='#') Rolling With Advantage
