doctype html
html(lang="en")
  head
    title Rolling With Advantage
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', )
    link(rel='stylesheet', href='style.css', )
  body
    include ./includes/nav.pug

    div.container
      div.row
        div.col-md-3.col-md-offset-2
          h1 Dungeon Masters
          p Host campaigns for troubled youths at facilities.
          a.btn.btn-primary Signup
        div.col-md-3.col-md-offset-2
          h1 Facility Managers
          p Find DMs to occupy the trouble youths.
          a.btn.btn-primary Signup
